<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" id='preview_form' role="form" novalidate (ngSubmit)="save();" [formGroup]="editForm">
            <h2 id="jhi-content-heading" jhiTranslate="monoslacklikepasteApp.content.home.createOrEditLabel">Create or
                edit a Content</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="monoslacklikepasteApp.content.name"
                        for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name" formControlName="name" />
                    <div
                        *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required"
                            jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.maxlength"
                            jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
                            This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label"
                        for="field_pastedlink">Pastedlink Override</label>
                    <div id="box" style="
                                overflow: auto;
                                border: 1px solid #adb4ae;
                                padding: 2px;
                                text-align: justify;
                                background: transparent;
                                height: 10rem;
                            ">
                        <br />
                        <ng-container *ngIf="previews && previews.length > 0">
                            <div *ngFor="let preview of previews; let i=index">
                                <div class="row" style="width: 40rem;margin-left: inherit;">
                                    <div _ngcontent-unu-c7="" class="ngx-link-preview-container"
                                        style="margin-bottom: 6px;">
                                        <div _ngcontent-unu-c7="" class="og-link-preview"
                                            style="border-radius: 4px; background-color: hsla(0,0%,78.4%,.25);">
                                            <a _ngcontent-unu-c7="" [href]="[preview.url]" target="_blank" class="row"
                                                style="display: flex; flex-direction: row; align-items: center; justify-content: flex-start; text-decoration: none; color: unset; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;">
                                                <div _ngcontent-unu-c7="" class="col preview-image" [ngStyle]="{
                                                        'background-image': 'url(&quot;'  + preview.image + '&quot;)',
                                                        'padding': '5px 0 5px 20px',
                                                        'margin-right': '-7rem',
                                                        'display': 'flex',
                                                        'flex-direction': 'column',
                                                        'align-items': 'flex-start',
                                                        'justify-content': 'flex-start',
                                                        'background-position': '-9999px',
                                                        'background-repeat': 'no-repeat'
                                                    }">
    
                                                    <div _ngcontent-unu-c7="" class="image"
                                                        style="border-radius: 3px;margin-right: 0;">
                                                        <img _ngcontent-unu-c7="" alt="" [src]="[preview.image]"
                                                            style="max-height: 70px; height: 13vw; border-radius: 3px; vertical-align: middle;">
                                                    </div>
    
                                                </div>
                                                <div _ngcontent-unu-c7="" class="col text-data"
                                                    style="padding: 6px 6px 4px 0;display: flex;flex-direction: column;align-items: flex-start;justify-content: flex-start;background-position: -9999px;background-repeat: no-repeat;">
                                                    <div _ngcontent-unu-c7="" class="header"
                                                        style="display: flex; flex-direction: row; align-items: center; margin-bottom: 4px; font-size: 12px; -webkit-filter: contrast(.7); filter: contrast(.7);">
                                                        <div _ngcontent-unu-c7="" class="site-name"
                                                            style="font-size: 12px;"> Link
                                                        </div>
    
                                                    </div>
    
                                                    <div _ngcontent-unu-c7="" class="title"
                                                        style="font-weight: 500; font-size: 14px;"> {{preview.title}}
                                                    </div>
    
                                                    <div _ngcontent-unu-c7="" class="description"
                                                        style="margin-top: 4px; max-height: 40px; font-size: 12px; -webkit-filter: contrast(.8); filter: contrast(.8); overflow: hidden; text-overflow: ellipsis;">
                                                        {{preview.description}}</div>
    
                                                    <div _ngcontent-unu-c7="" class="footer"
                                                        style="display: flex; flex-direction: row; align-items: center; margin-bottom: 4px; font-size: 12px; -webkit-filter: contrast(.7); filter: contrast(.7);">
    
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="monoslacklikepasteApp.content.pastedlink"
                        for="field_pastedlink">Pastedlink</label>
                    <textarea rows="6" cols="20" type="textarea" class="form-control" name="pastedlink"
                        id="field_pastedlink" formControlName="pastedlink"></textarea>
                    <br />
                    <div class="selector-wrapper"></div>
                    <div
                        *ngIf="editForm.get('pastedlink')!.invalid && (editForm.get('pastedlink')!.dirty || editForm.get('pastedlink')!.touched)">
                        <small class="form-text text-danger" *ngIf="editForm.get('pastedlink')?.errors?.maxlength"
                            jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 10000 }">
                            This field cannot be longer than 10000 characters.
                        </small>
                    </div>


                    <!-- start link preview  -->
                    <!--
                        <ng-container *ngIf="previews && previews.length > 0">
                            <div *ngFor="let preview of previews; let i=index">
                                <div class="ngx-link-preview-container">
                                    <div class="og-link-preview">
                                        <a class="row" [href]="[preview.url]" target="_blank">
                                            <div class="col preview-image"
                                                [ngStyle]="{'background-image' : 'url(&quot;'  + preview.image + '&quot;)'}">
                                                <div class="image">
                                                    <img alt="" [src]="[preview.image]">
                                                </div>
                                            </div>
                                            <div class="col text-data">
                                                <div class="header">
                                                    <div class="site-name"> Link </div>
                                                </div>
                                                <div class="title"> {{preview.title}} </div>
                                                <div class="description"> {{preview.description}} </div>
                                                <div class="footer">
                                                </div>
                                            </div>
                                        </a></div>
                                </div>
                            </div>
                        </ng-container>
                    -->

                    <ng-container *ngIf="previews && previews.length > 0">
                        <div *ngFor="let preview of previews; let i=index">
                            <div class="row" style="width: 40rem;margin-left: inherit;">
                                <div _ngcontent-unu-c7="" class="ngx-link-preview-container"
                                    style="margin-bottom: 6px;">
                                    <div _ngcontent-unu-c7="" class="og-link-preview"
                                        style="border-radius: 4px; background-color: hsla(0,0%,78.4%,.25);">
                                        <a _ngcontent-unu-c7="" [href]="[preview.url]" target="_blank" class="row"
                                            style="display: flex; flex-direction: row; align-items: center; justify-content: flex-start; text-decoration: none; color: unset; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;">
                                            <div _ngcontent-unu-c7="" class="col preview-image" [ngStyle]="{
                                                    'background-image': 'url(&quot;'  + preview.image + '&quot;)',
                                                    'padding': '5px 0 5px 20px',
                                                    'margin-right': '-7rem',
                                                    'display': 'flex',
                                                    'flex-direction': 'column',
                                                    'align-items': 'flex-start',
                                                    'justify-content': 'flex-start',
                                                    'background-position': '-9999px',
                                                    'background-repeat': 'no-repeat'
                                                }">

                                                <div _ngcontent-unu-c7="" class="image"
                                                    style="border-radius: 3px;margin-right: 0;">
                                                    <img _ngcontent-unu-c7="" alt="" [src]="[preview.image]"
                                                        style="max-height: 70px; height: 13vw; border-radius: 3px; vertical-align: middle;">
                                                </div>

                                            </div>
                                            <div _ngcontent-unu-c7="" class="col text-data"
                                                style="padding: 6px 6px 4px 0;display: flex;flex-direction: column;align-items: flex-start;justify-content: flex-start;background-position: -9999px;background-repeat: no-repeat;">
                                                <div _ngcontent-unu-c7="" class="header"
                                                    style="display: flex; flex-direction: row; align-items: center; margin-bottom: 4px; font-size: 12px; -webkit-filter: contrast(.7); filter: contrast(.7);">
                                                    <div _ngcontent-unu-c7="" class="site-name"
                                                        style="font-size: 12px;"> Link
                                                    </div>

                                                </div>

                                                <div _ngcontent-unu-c7="" class="title"
                                                    style="font-weight: 500; font-size: 14px;"> {{preview.title}}
                                                </div>

                                                <div _ngcontent-unu-c7="" class="description"
                                                    style="margin-top: 4px; max-height: 40px; font-size: 12px; -webkit-filter: contrast(.8); filter: contrast(.8); overflow: hidden; text-overflow: ellipsis;">
                                                    {{preview.description}}</div>

                                                <div _ngcontent-unu-c7="" class="footer"
                                                    style="display: flex; flex-direction: row; align-items: center; margin-bottom: 4px; font-size: 12px; -webkit-filter: contrast(.7); filter: contrast(.7);">

                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>

                </div>

                <!-- end link preview -->

            </div>
    </div>

    <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
            <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
    </form>
</div>
</div>